<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.android_font_manager"
          android:versionCode="1"
          android:versionName="1.0">
    <application android:label="FontAM">
    </application>
</manifest>
